.sbody {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15%;
}
.header{
  margin-left: 15%;
  width: 20%;
}
.header h1{
  margin-left: auto;
  padding-top: 20px;
  animation: parapa 5s linear 1s 2 alternate;
}
@keyframes parapa{
  from{

  } to{
    background-color: black;
    color: white;
  }
}
.PaginaCompleta{
  font-family: 'Charmonman', cursive;
  font-size: 20px;
  width: 80%;
  background: radial-gradient(at top left, white, #555);
  
}

.navegacion {
  width: 25%;
  box-sizing: border-box;
}

.navegacion ul {
  width: 100%;
}

.navegacion li {
  background-color: black;
  padding: 5%;
  margin: 0;
  text-align: left;
  list-style-type: none;
  color: white;
  width: 100%;
}

.navegacion li:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border-top-right-radius: 100px;
}


.sbody img:hover {
  transform: translateY(50px) scale(1.5);
  filter: none;
  transition: transform 3s ease, filter 3s ease;
}

.sbody img {
  margin-left: 10%;
  border-top-right-radius: 60px;
  width: 400px;
  height: 200px;
  position: relative;
  border-top-right-radius: 100px;
  filter: grayscale(100%) blur(2px);
}

.imagenysociales{
  width: 25%;
  box-sizing: border-box;
  margin-left: 10%; /* Ajusta el margen izquierdo */
}

.sociales {
  margin-top: 10%;
  margin-left: 10%;
  width: 400px;
  background-color: black;
  color: aliceblue;
  padding: 2%;
  position: relative;
  text-align: center;
  padding: 10px;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  color: black;
  filter: blur(5px);

}

*esto es el h2 unsound 
.foot{
  padding: 15%;
  
}