<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    {% if form %}
    <p><b>Nombre: </b>{{form.nombre}}</p>
    <p><b>Correo: </b>{{form.email}}</p>
    <p><b>Edad: </b>{{form.edad}}</p>
    <p><b>Genero: </b>{{form.genero}}</p>
    <p>Aficiones:</p>
        <ul>
        {% for x in form.aficiones%}
            <li>{{x}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay nada.</p>
    {% endif %}
</body>
</html>