<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido {{user}}</h1>
    <form method="POST" class="centralita">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label><br>
            {{ field }}
        </div>
        <br>
        {% endfor %}
        <button type="submit">Enviar</button>
    
    {% for x in bbdd %}
        <p>x.usuario</p>
        <ul>
            <li>Ciudad: {{x.ciudad}}</li>
            <li>Email: {{x.email}}</li>
            <li>Telfn: {{x.telefono}}</li>
        </ul>
    {% endfor %}
    </form>
</body>
</html>