{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }

        .welcome-message {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 50px;
        }

        .footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
    <div class="container">
        <h1>Bienvenido a nuestro sitio web</h1>
        <div class="welcome-message">
            <p>Gracias por visitarnos. Esperamos que disfrutes tu estancia aquí.</p>
        </div>
    </div>

    {% endblock %}