{%extends 'base.html' %} {%block titulo %} Gestión de Alumnos{%endblock%} {%block subtitulo%} {% if operacion == 'add' %}Añade alumno {%else%} Edita alumno {%endif%} {%endblock%} {%block contenido %}
<div class="jumbotron">
    {% if operacion == 'add' %}
    <form action="{% url 'add' %}" method="POST">
        {%else%}
        <form action="{% url 'update' %}" method="POST">
            {%endif%}
            <div class="form-group">
                <label>Nombre *</label>
                <div class="input-group">{{form.nombre}}</div>
            </div>
            <div class="form-group">
                <label>Email *</label>
                <div class="input-group">{{form.email}}</div>
            </div>
            <div class="form-group">
                <label>DNI *</label>
                <div class="input-group">{{form.dni}}</div>
            </div>
            <div class="form-group">
                <label>Nota *</label>
                <div class="input-group">{{form.nota}}</div>
            </div>
            <br>
            <center>
                <input type="submit" class="btn btn-success btn-lg" value="Aceptar">
            </center>
</div>
</form>
</div>
{%endblock%}