{%extends 'base.html' %} {%block titulo %} Gestión de Alumnos{%endblock%} {%block subtitulo%}Busca un alumno{%endblock%} {%block contenido %}
<div class="jumbotron">
    {% if operacion == 'search' %}
    <form action="{% url 'search' %}" method="POST">
        {% else %}
        <form action="{% url 'delete' %}" method="POST">
            {%endif%}
            <div class="form-group">
                <label>DNI *</label>
                <div class="input-group">{{form.dni}}</div>
            </div>
            <br>
            <center>
                <input type="submit" class="btn btn-success btn-lg" value="Aceptar">
            </center>
</div>
</div>
</form>
{%endblock%}