<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podemos</title>
    <style type="text/css">
        body{
            background-color: purple;
        }
        h1{
            color: white;
        }
        button{
            background-color: violet;
            color: azure;
        }
    </style>
</head>
<body>
    <h1>Afiliate ya a nuestro Partido</h1>
    <button>Se Podemita hoy mismo.</button>
</body>
</html>