body{
    background: linear-gradient(to right, white, #f66);
    color: #c03;
    text-shadow: 1px 1px #ccc, -1px -1px #ccc;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px;
    width: 800px;
    border-radius: 5px;
}



fieldset{
    width: 750px;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

label{
    color: #555555;
    display: block;
    float: left;
    font: bold 13px Tahoma;
    margin-top: 3px;
    padding: 3px;
    width: 150px;
}

input{
    height: 20px;
    width: 220px;
    padding: 5px 8px;
    border: 2px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    color: #888;
    font-size: 12px;
    padding-right: 30px;
    transition: padding-right 1.25s ease;
}

input:focus{
    background-color: #fff;
    border: 1px solid #555;
    padding-right: 80px;
    box-shadow: 0 0 3px #aaa, 0 0 3px #aaa inset; /* Añadido para evitar interferencias */}

input:required, input:valid{
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

input:required, input:invalid{
    box-shadow: 0 0 5px #d45252 ;
    border-color: #b03535;
}

.boton-envio{
    padding: 9px 17px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px rgba(100%, 100%, 100%, 0.85);
    background: linear-gradient(to right, grey, white );
    border: 1px none #f1f1f1;
    border-radius: 10px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.boton-envio:focus{
    opacity: 0.55;
    color: #C03;
}

.boton-envio:active{
    border: 1px, solid #222;
    box-shadow: 0 0 10px #444 inset;
}