<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Usuario</title>
</head>
<body>
    <h1>Datos del Usuario</h1>
    <ul>
        <li><strong>Nombre:</strong> {{ usu.nombre }}</li>
        <li><strong>Contraseña:</strong> {{ usu.contraseña }}</li>
        <li><strong>Email:</strong> {{ usu.email }}</li>
        <li><strong>Teléfono:</strong> {{ usu.telefono }}</li>
        <li><strong>Fecha de Registro:</strong> {{ usu.fregistro }}</li>
        <li><strong>Fecha de Último Acceso:</strong> {{ usu.facceso }}</li>
    </ul>
</body>
</html>
