.Pelicula{
    margin-top: 20px;
    margin-left: 20px;
    background-color: bisque;
    width: 40%;
    height: 60%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

.Pelicula li{
    list-style: none;
    margin-left: 15px;
    margin-bottom: 10px;
}

.Pelicula p{
    margin-top: 10px;
}
.Pelicula img {
    height: 250px;
    width: 200px;
    border-radius: 5px;
    position: relative;
}