<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Información de Equipos de Fútbol</title>
</head>
<body>
    <h1>Información de Equipos de Fútbol</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Nombre</th>
                <th>Puntos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ equipo.Identificador }}</td>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.puntos }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
